@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-100%, -50%);
}

:root {
  --main-margin-padding: 1rem;
  --main-centralize-margin: 0 auto;
  --main-title-padding-margin: 0.5rem;
  --main-title-background-color: rgba(0, 0, 0, 0.215);
  --main-text-background-color: rgba(0, 0, 0, 0.15);

  --main-border-size: 3px;
  --main-no-border-color: rgba(0, 0, 0, 0);
  --main-border-color: rgba(0, 0, 0, 1);
  --main-border-radius: 15px;
  --main-border-bottom-radius: 0 0 15px 15px;

  --main-transition-page: 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body,
main {
  font-size: 16px;
  font-family: "Yatra One", cursive;
  color: #000;
  letter-spacing: 0.1rem;
  background: url("../images/rps/bg.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: var(--main-margin-padding) auto;
  border: var(--main-border-size) var(--main-no-border-color) solid;
  border-radius: var(--main-border-radius);
  background-color: var(--main-title-background-color);
  width: 90%;
  align-self: center;
}

button {
  background-color: transparent;
  outline: transparent;
}

.button {
  width: 30%;
  height: 100%;
  border: var(--main-border-size) dashed var(--main-border-color);
  border-radius: var(--main-border-radius);
  transition: background 0.5s;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--main-title-background-color);
}

.button .buttonImg {
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  width: 60%;
  height: 100%;
}

.pedra {
  background: url("../images/rps/rock.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.papel {
  background: url("../images/rps/paper.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.tesoura {
  background: url("../images/rps/scissor.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#choiceTitle {
  width: 80%;
  margin: var(--main-title-padding-margin) auto;
  padding: var(--main-title-padding-margin);
  font-size: 1.5rem;
  text-align: center;
  border: var(--main-border-size) var(--main-no-border-color) solid;
  border-radius: var(--main-border-radius);
  background-color: var(--main-title-background-color);
}

#boxGame {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

#boxGame,
#resultBox {
  transition: var(--main-transition-page);
}

#rpsGame {
  height: 63%;
  background-image: url(../images/rps/bg-sunset.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#inputButtons {
  margin: var(--main-margin-padding) auto;
  text-align: center;
  width: 80%;
  height: 20%;
}

#resultBox {
  margin: var(--main-centralize-margin);
  width: 100%;
  height: 100%;
}

#resultTitle {
  text-align: center;
  font-size: 1.3rem;
  margin: var(--main-title-padding-margin) auto;
  padding: var(--main-title-padding-margin);
  border: var(--main-border-size) var(--main-no-border-color) solid;
  border-radius: var(--main-border-radius);
  background-color: var(--main-title-background-color);
  width: 70%;
  align-self: center;
}

#resultContainer {
  width: 95%;
  height: 100%;
  margin: var(--main-centralize-margin);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.playerChoiceTitle {
  padding: var(--main-title-padding-margin) 0;
  width: 100%;
  height: 30%;

  font-size: 0.8rem;
  font-variant: small-caps;
  background-color: var(--main-text-background-color);

  border-bottom: 6px solid var(--main-border-color);
  border-radius: var(--main-border-bottom-radius);
}

.resultImgBox {
  border: var(--main-border-size) double var(--main-border-color);
  width: 40%;
  height: 25%;
  margin: var(--main-title-padding-margin) auto;
}

.choiceContainer {
  height: 70%;
}

#resultText {
  width: 80%;
  text-align: center;
  align-self: center;
  margin: var(--main-margin-padding) auto;
  padding: var(--main-margin-padding);
  background-color: var(--main-text-background-color);
  border: 2px var(--main-border-color) dashed;
  border-radius: var(--main-border-radius);
}

#reset {
  width: 60%;
  height: 40%;
  margin: var(--main-margin-padding) auto;
}

#resetButton {
  font-size: 1.3rem;
  font-variant: small-caps;
  font-family: inherit;
  width: 100%;
  height: 25%;
  border: var(--main-border-color) solid var(--main-border-size);
  background-color: var(--main-text-background-color);
  border-radius: var(--main-border-radius);
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  h1 {
    margin: 3rem auto;
    padding: 2rem;
    font-size: 2.5rem;
  }

  #resultTitle {
    width: 40%;
    margin: var(--main-margin-padding) auto;
    font-size: 1.5rem;
  }

  #resultBox {
    min-width: 60%;
    max-width: 70%;
  }

  .button {
    width: 20%;
    height: 80%;
    margin: 0 var(--main-margin-padding);
  }

  #choiceTitle {
    width: 50%;
    font-size: 1.5rem;
  }

  .playerChoiceTitle {
    padding: var(--main-margin-padding) 0;
    font-size: 1rem;
    width: 100%;
    height: 25%;
  }

  #resultText {
    font-size: 1.2rem;
    padding: 2.5rem;
  }

  #resetButton {
    font-size: 1.5rem;
    font-weight: bold;
  }

  #resetButton:hover,
  #resetButton:focus {
    background: var(--main-title-background-color);
  }
}

@media screen and (min-width: 1100px) {
  #choiceTitle {
    width: 30%;
  }

  #inputButtons {
    width: 60%;
  }

  #resetButton {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  #rpsGame {
    background-size: contain;
  }

  #inputButtons {
    width: 50%;
  }
}
